@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

@if (LoggedIn)
{
    <!-- nav -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <ul class="navbar-nav">
            <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
            <NavLink href="users" class="nav-item nav-link">Gebruikers</NavLink>
            <!-- Dropdown werkt nog niet. wel zichtbaar-->
            @{
                var list = new List<string> { "Counter", "demo2", "demo3" }; }
            <Dropdown TItem="string" OnSelected="@OnSelected">
                <InitialTip>Demo's</InitialTip>
                <ChildContent>
                    <NavLink href="Demopagina/Counter" class="nav-item nav-link">Demo's
                        <DropdownListItem Item="@list[0]">Counter</DropdownListItem>
                    </NavLink>
                    <div class="dropdown-divider"></div>
                    <DropdownListItem Item="@list[1]">demo2</DropdownListItem>
                    <div class="dropdown-divider"></div>
                    <DropdownListItem Item="@list[2]">demo3</DropdownListItem>
                </ChildContent>
            </Dropdown>
            @* <NavLink href="Demopagina" class="nav-item nav-link">Demo's</NavLink> *@


            <NavLink href="account/logout" class="nav-item nav-link">Uitloggen</NavLink>
        </ul>
    </nav>
}

<div class="app-container @(LoggedIn ? "bg-light" : "")">
    <Alert />
    @Body
</div>

@code {
    public bool LoggedIn
    {
        get { return AccountService.User != null; }
    }
    private void OnSelected(string selection)
    {
        Console.WriteLine(selection);
    }
}